<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <title>Document</title> -->
    <%- include("../partials/head.ejs") %> 
</head>
<body>
    <%- include('../partials/header.ejs') %> 
    <main>
        <nav>
            <p>Sort: </p>
            <a href="/cats/new"><button>Add a new Cat</button></a>
        </nav>

        
    </main>
    
</body>
</html>